header section:nth-child(1) {
  background-color: #000;
}

header section:nth-child(1) .header-top {
  width: 1200px;
  margin: 0 auto;
  color: #999;
  font-size: 14px;
}

header section:nth-child(1) .header-top ul {
  padding: 10px;
}

header section:nth-child(1) .header-top ul li {
  float: left;
  margin-right: 20px;
}

header section:nth-child(1) .header-top .list1 {
  float: left;
}

header section:nth-child(1) .header-top .list1 li a {
  color: #999;
  text-decoration: none;
}

header section:nth-child(1) .header-top .list1 li:hover a {
  color: #fff;
}

header section:nth-child(1) .header-top .list2 {
  float: right;
}

header section:nth-child(2) {
  width: 1200px;
  margin: 0 auto;
}

header section:nth-child(2) .header-mian {
  padding: 20px 0;
}

header section:nth-child(2) .header-mian h1 {
  float: left;
  margin-right: 200px;
}

header section:nth-child(2) .header-mian .seach {
  float: left;
  width: 500px;
  height: 40px;
  border: 2px solid red;
  border-radius: 25px;
  font-size: 18px;
  color: #ccc;
  line-height: 40px;
  margin-top: 15px;
}

header section:nth-child(2) .header-mian .seach span:nth-child(1) {
  padding-left: 10px;
}

header section:nth-child(2) .header-mian .seach span:nth-child(2) {
  float: right;
  width: 90px;
  height: 100%;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 25px;
}

header section:nth-child(2) .header-mian .cart {
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid red;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-top: 15px;
  margin-right: 80px;
}

header section:nth-child(2) .header-mian .cart a {
  color: #000;
  text-decoration: none;
}

header section:nth-child(2) .header-footer {
  padding: 10px 0;
}

header section:nth-child(2) .header-footer .list {
  font-size: 18px;
  font-weight: bold;
}

header section:nth-child(2) .header-footer .list li {
  float: left;
  margin-right: 40px;
  padding: 10px 0;
}

header section:nth-child(2) .header-footer .list .active {
  color: red;
}

header section:nth-child(2) .header-footer .list .classify {
  width: 150px;
  background: linear-gradient(to right, #FF0E1C, #FF3060);
  text-align: center;
  color: #fff;
  font-weight: normal;
}

header section:nth-child(2) .header-footer .list .classify:hover ul {
  display: block;
}

header section:nth-child(2) .header-footer .list .classify ul {
  width: 150px;
  background: linear-gradient(to right, #FF0E1C, #FF3060);
  text-align: center;
  display: none;
  position: absolute;
  z-index: 100;
}

header section:nth-child(2) .header-footer .list .classify ul li {
  clear: both;
  width: 97%;
  padding: 5px 0;
  margin: 0 2px;
  border-bottom: 1px solid #ccc;
}

header section:nth-child(2) .header-footer .list .classify ul li a {
  color: #fff;
  text-decoration: none;
}

header section:nth-child(2) .header-footer .list .classify ul li:hover {
  background-color: #fff;
  color: red;
}

header section:nth-child(2) .header-footer .list .classify ul li:hover a {
  color: red;
}

.main {
  background-color: #f6f6f6;
}

.main .hot {
  background-color: #fff;
}

.main .hot h2 {
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}

.main .hot .goods-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main .hot .goods-list dl {
  width: 350px;
  height: 180px;
  border: 1px solid #ccc;
}

.main .hot .goods-list dl dt {
  float: left;
}

.main .hot .goods-list dl dt img {
  width: 130px;
  height: 150px;
  margin-top: 20px;
  margin-left: 10px;
}

.main .hot .goods-list dl dd {
  float: right;
  margin-right: 10px;
  width: 160px;
  margin-top: 20px;
}

.main .hot .goods-list dl dd .title {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.main .hot .goods-list dl dd .price span:nth-child(1) {
  font-size: 18px;
  color: red;
  margin-right: 10px;
}

.main .hot .goods-list dl dd .price span:nth-child(2) {
  color: #999;
  text-decoration: line-through;
}

.main .hot .goods-list dl dd .cart {
  width: 90px;
  height: 30px;
  border: 1px solid red;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}

.main .hot .goods-list dl dd .cart a {
  color: red;
  text-decoration: none;
}

.main .sub {
  position: fixed;
  right: 20px;
  top: 100px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
}

.main .sub ul {
  text-align: center;
}

.main .sub ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.main .sub ul li a {
  color: #000;
  text-decoration: none;
}

.main .sub ul .back {
  border-bottom: 0;
}

footer {
  background-color: #333333;
  height: 210px;
  color: #fff;
}

footer div {
  text-align: center;
  padding-top: 30px;
}

footer div p span {
  padding: 15px;
}
