header {
    section:nth-child(1){
        background-color: #000;      
        .header-top{
            width: 1200px;
            margin: 0 auto;
            color: #999;
            font-size: 14px;
            ul{
                padding: 10px;
                li {
                    float: left;
                    margin-right: 20px;
                }
            }
            .list1 {
                float: left;
                li {
                    a{
                        color: #999;
                        text-decoration: none;
                    }
                    &:hover a{
                        color: #fff;
                    }
                }
            }
            .list2 {
                float: right;
            }
    
        }
    }
    section:nth-child(2) {
        width: 1200px;
        margin: 0 auto;
        .header-mian{
            padding: 20px 0;
            h1 {
                float: left;
                margin-right: 200px;
            }
            .seach{
                float: left;
                width: 500px;
                height: 40px;
                border: 2px solid red;
                border-radius: 25px;
                font-size: 18px;
                color: #ccc;
                line-height: 40px;
                margin-top: 15px;
                span:nth-child(1){
                    padding-left: 10px;
                }
                span:nth-child(2){
                    float: right;
                    width: 90px;
                    height: 100%;
                    background-color: red;
                    color: #fff;
                    text-align: center;
                    border-radius: 25px;
                }
            }
            .cart {
                float: right;
                width: 100px;
                height: 40px;
                border-radius: 25px;
                border: 2px solid red;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
                margin-top: 15px;
                margin-right: 80px;
                a{
                    color: #000;
                    text-decoration: none;
                }
            }
        }
        .header-footer {
            padding: 10px 0;
            .list{
               font-size: 18px;
               font-weight: bold;
               li {
                   float: left;
                    margin-right: 40px;
                    padding: 10px 0;
               }
               .active {
                   color: red;
               }
               .classify{
                   width: 150px;
                   background:linear-gradient(to right,#FF0E1C,#FF3060);
                   text-align: center;
                   color: #fff;
                   font-weight: normal;
                &:hover ul {
                    display: block;
                }
                ul {
                    width: 150px;
                    background:linear-gradient(to right,#FF0E1C,#FF3060);
                    text-align: center;
                    display: none;
                    position: absolute;
                    z-index: 100;
                    li{
                       clear: both;
                       width: 97%;
                       padding: 5px 0;
                       margin: 0 2px;
                       border-bottom: 1px solid #ccc;
                       a{
                            color: #fff;
                            text-decoration: none;
                       }
                       &:hover {
                           background-color: #fff;
                           color: red;
                       }
                      
                   }
               }
               }
            }
            
        }
    }
    .banner{
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
}
.main{
    background-color: #f6f6f6;
    .content{
        h2{
            text-align: center;
            width: 100%;
            height: 50px;
            line-height: 50px;
            background-color: #F7A5A5;
        }
        .brand,.brand1,.brand2,.brand3,.brand4{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            dl{
                width: 250px;
                background-color: #fff;
                box-shadow: 5px 5px 10px #ccc;
                dt{
                    img{
                        width: 250px;
                    }
                }
                dd{
                    position: relative;
                    text-align: center;
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 1px solid #ccc;
                        position: absolute;
                        top: -50px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    .title{
                        padding-top: 60px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .other{
                        color: red;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .sub{
        width: 80px;
        position: fixed;
        top: 100px;
        right: 15px;
        background-color: #F68383;
        color: #fff;
        text-align: center;
        display: none;
        .cart {
            line-height: 30px;
            a{
                color: #fff;
                text-decoration: none;
            }

        }
        .nav{
            height: 100%;
            li{
                padding: 10px;
                border-bottom: 1px solid #C56969;
                position: relative;
                span{
                    width: 100%;
                    height: 100%;
                    display: none;
                    position: absolute;
                    background-color: #B86262;
                    line-height: 40px;
                    top: 0;
                    left: 0;
                }
            }
            .active{
                background-color: #F68383;
                display: block;
            }
        }
        .back {
            padding: 10px;
        }
    }
    
}
footer{
    background-color: #333333;
    height: 210px;
    color: #fff;
    div{
        text-align: center;
        padding-top: 30px;
        p{
            span {
                padding: 15px;
            }
        }
    }
    
}
