header section:nth-child(1) {
  background-color: #000;
}

header section:nth-child(1) .header-top {
  width: 1200px;
  margin: 0 auto;
  color: #999;
  font-size: 14px;
}

header section:nth-child(1) .header-top ul {
  padding: 10px;
}

header section:nth-child(1) .header-top ul li {
  float: left;
  margin-right: 20px;
}

header section:nth-child(1) .header-top .list1 {
  float: left;
}

header section:nth-child(1) .header-top .list1 li a {
  color: #999;
  text-decoration: none;
}

header section:nth-child(1) .header-top .list1 li:hover a {
  color: #fff;
}

header section:nth-child(1) .header-top .list2 {
  float: right;
}

header section:nth-child(2) {
  width: 1200px;
  margin: 0 auto;
}

header section:nth-child(2) .header-mian {
  padding: 20px 0;
}

header section:nth-child(2) .header-mian h1 {
  float: left;
  margin-right: 200px;
}

header section:nth-child(2) .header-mian .seach {
  float: left;
  width: 500px;
  height: 40px;
  border: 2px solid red;
  border-radius: 25px;
  font-size: 18px;
  color: #ccc;
  line-height: 40px;
  margin-top: 15px;
}

header section:nth-child(2) .header-mian .seach span:nth-child(1) {
  padding-left: 10px;
}

header section:nth-child(2) .header-mian .seach span:nth-child(2) {
  float: right;
  width: 90px;
  height: 100%;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 25px;
}

header section:nth-child(2) .header-mian .cart {
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid red;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-top: 15px;
  margin-right: 80px;
}

header section:nth-child(2) .header-mian .cart a {
  color: #000;
  text-decoration: none;
}

header section:nth-child(2) .header-footer {
  padding: 10px 0;
}

header section:nth-child(2) .header-footer .list {
  font-size: 18px;
  font-weight: bold;
}

header section:nth-child(2) .header-footer .list li {
  float: left;
  margin-right: 40px;
  padding: 10px 0;
}

header section:nth-child(2) .header-footer .list .active {
  color: red;
}

header section:nth-child(2) .header-footer .list .classify {
  width: 150px;
  background: linear-gradient(to right, #FF0E1C, #FF3060);
  text-align: center;
  color: #fff;
  font-weight: normal;
}

header section:nth-child(2) .header-footer .list .classify:hover ul {
  display: block;
}

header section:nth-child(2) .header-footer .list .classify ul {
  width: 150px;
  background: linear-gradient(to right, #FF0E1C, #FF3060);
  text-align: center;
  display: none;
  position: absolute;
  z-index: 100;
}

header section:nth-child(2) .header-footer .list .classify ul li {
  clear: both;
  width: 97%;
  padding: 5px 0;
  margin: 0 2px;
  border-bottom: 1px solid #ccc;
}

header section:nth-child(2) .header-footer .list .classify ul li a {
  color: #fff;
  text-decoration: none;
}

header section:nth-child(2) .header-footer .list .classify ul li:hover {
  background-color: #fff;
  color: red;
}

header .banner {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

header .banner img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main {
  background-color: #f6f6f6;
}

.main .content h2 {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #F7A5A5;
}

.main .content .brand, .main .content .brand1, .main .content .brand2, .main .content .brand3, .main .content .brand4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main .content .brand dl, .main .content .brand1 dl, .main .content .brand2 dl, .main .content .brand3 dl, .main .content .brand4 dl {
  width: 250px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #ccc;
}

.main .content .brand dl dt img, .main .content .brand1 dl dt img, .main .content .brand2 dl dt img, .main .content .brand3 dl dt img, .main .content .brand4 dl dt img {
  width: 250px;
}

.main .content .brand dl dd, .main .content .brand1 dl dd, .main .content .brand2 dl dd, .main .content .brand3 dl dd, .main .content .brand4 dl dd {
  position: relative;
  text-align: center;
}

.main .content .brand dl dd img, .main .content .brand1 dl dd img, .main .content .brand2 dl dd img, .main .content .brand3 dl dd img, .main .content .brand4 dl dd img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.main .content .brand dl dd .title, .main .content .brand1 dl dd .title, .main .content .brand2 dl dd .title, .main .content .brand3 dl dd .title, .main .content .brand4 dl dd .title {
  padding-top: 60px;
  font-size: 14px;
  font-weight: bold;
}

.main .content .brand dl dd .other, .main .content .brand1 dl dd .other, .main .content .brand2 dl dd .other, .main .content .brand3 dl dd .other, .main .content .brand4 dl dd .other {
  color: red;
  margin-bottom: 15px;
}

.main .sub {
  width: 80px;
  position: fixed;
  top: 100px;
  right: 15px;
  background-color: #F68383;
  color: #fff;
  text-align: center;
  display: none;
}

.main .sub .cart {
  line-height: 30px;
}

.main .sub .cart a {
  color: #fff;
  text-decoration: none;
}

.main .sub .nav {
  height: 100%;
}

.main .sub .nav li {
  padding: 10px;
  border-bottom: 1px solid #C56969;
  position: relative;
}

.main .sub .nav li span {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-color: #B86262;
  line-height: 40px;
  top: 0;
  left: 0;
}

.main .sub .nav .active {
  background-color: #F68383;
  display: block;
}

.main .sub .back {
  padding: 10px;
}

footer {
  background-color: #333333;
  height: 210px;
  color: #fff;
}

footer div {
  text-align: center;
  padding-top: 30px;
}

footer div p span {
  padding: 15px;
}
