.container{
    width: 1000px;
    margin: 0 auto;
}
header{
    height: 100px;
    border-bottom: 1px solid #ccc;
    h1{
        padding: 20px;
        float: left;
    }
    .list{
        float: right;
        img{
            height: 90px;
            padding-top: 10px;
        }
    }
}

section {
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    padding: 40px;
    .main-img{
        float: left;
        img {
            padding: 20px 0;
        }
    }
    .login {
        float: right;
        height: 350px;
        width: 300px;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 20px;
        text-align: center;
        h2 {
            font-size: 24px;
            margin: 0 20px;
        }
        .login-mian {
            margin: 20px;
            .richScan {
                display: none;
                text-align: center;
                margin-bottom: 20px;
                img {
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
            }
            .phone {
                margin: 0 10px;
                // display: none;
                p {
                    input {
                        width: 250px;
                        height: 30px;
                        margin-bottom: 10px;
                        border-radius: 25px;
                        text-align: center;
                        // border: none;
                        outline: none;
                    }
                    button {
                        width: 250px;
                        height: 30px;
                        color: #fff;
                        background-color: red;
                        border-radius: 25px;
                        border: none;
                        outline: none;
                        margin-bottom: 10px;
                    }    
                    .checkbox {
                        input {
                            width: 10px;
                            height: 10px;
                            margin-right: 10px;
                        }
                    }
                    .at {
                        float: right;
                        a{
                            color: orange;
                        }
                    }
                    span {
                        display: block;
                        height: 20px;
                        font-size: 10px;
                    }
                    
                }
                
            }
        }
    }
}
footer{
    height: 210px;
    border-top: 1px solid #ccc;
    div{
        text-align: center;
        padding-top: 30px;
        p{
            padding-bottom: 10px;
            span {
                padding: 15px;
            }
        }
    }
    
}